<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#" ui-sref="home">Anasayfa </a></li>
        <li class="active"><a href="#/portfolio">Portfolio <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="parent">ParentPage</a></li>
        <li><a ng-click="anasayfayaGit()" href="#">Çıkış</a></li>
      </ul>
      <span class="border-line"></span>
      <h4>Filtrele</h4>
      <ul class="nav nav-sidebar hurriyet-slider">
        <li>
          <a href="">Fiyat</a>
          <input ng-pattern="/^\d+$/" ng-model="filter.price" ng-change="priceFilter()" type="text"
                 placeholder="12.000"/>
        </li>
        <li><a href="">Şehir</a>
          <select name="city" id="city">
            <option value="1">İstanbul</option>
            <option value="2">Ankara</option>
          </select>
        </li>
        <li><a href="" >Yapım Yılı</a>
          <select name="city" id="year">
            <option value="1">2014</option>
            <option value="2">2015</option>
          </select>
        </li>
        <li><a href="">Tip</a>
          <select name="type" id="type">
            <option value="1">Bina</option>
            <option value="2">Apartman</option>
          </select>
        </li>
        <li>
          <a href="">Emlakçıdan</a>
          <select name="seller" id="seller">
            <option value="1">Sahibinden</option>
            <option value="2">Emlakçıdan</option>
          </select>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row placeholders">
        <div class="col-md-4">
          <form ng-submit="search()" class="css-form" novalidate="novalidate">
            <div class="form-group">
              <input type="text" ng-model="search.keyword" class="form-control" placeholder="Anahtar Kelime"
                     required="required">
            </div>


            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>

              <div class="input-group">
                <div class="input-group-addon">TL</div>
                <input ng-model="search.price" type="text" class="form-control" id="exampleInputAmount"
                       placeholder="Fiyat" required="required">

                <div class="input-group-addon">.000</div>
              </div>
            </div>
            <button type="submit" class="btn btn-default btn-info pull-left">Arama Yap</button>
          </form>
        </div>

      </div>

      <h2 class="sub-header">Sonuçlar <span class="sort-span">({{siralamaParametresi}} göre {{reverse && 'azalan' || 'artan'}} şekilde sıralandı)</span>
      </h2>

      <div class="sort">


        <input class="sort-input" type="text" ng-model="sort"/>
      </div>

      <div class="table-responsive">


        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th><a ng-click="sortByTag('name')" href="#">İsim</a></th>
            <th><a ng-click="sortByTag('city')" href="#">Şehir</a></th>
            <th><a ng-click="sortByTag('type')" href="#">Kimden</a></th>
            <th><a ng-click="sortByTag('year')" href="#">Yapım Yılı</a></th>
            <th><a ng-click="sortByTag('price')" href="#">Fiyat</a></th>
          </tr>
          </thead>
          <tbody>
          <tr class="animate-repeat" ng-repeat="item in portfolioList | filter:sort" style="cursor: move;">
            <td>{{$index}}</td>
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
            <td>{{item.type}}</td>
            <td>{{item.year}}</td>
            <td>{{item.price}}</td>
          </tr>
          </tbody>
        </table>

        <pagination resultcount="{{count}}"
                    active-next-button="{{pagerRules.activeNextButton}}"
                    pagecount="{{pagerRules.buttonCount}}"></pagination>

      </div>
    </div>
  </div>
</div>
