<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#/">Anasayfa <span class="sr-only">(current)</span></a></li>
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a ui-sref="parent">ParentPage</a></li>
        <li><a href="#">Çıkış</a></li>
      </ul>
      <span class="border-line"></span>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Benim Sayfam</h2>

      <div class="row">

        <div class="col-md-6">
          <h5>Haberler</h5>

          <div class="alert"
               ng-class="{'alert-success':news.type == 1,'alert-info':news.type == 2,'alert-warning':news.type == 3}"
               role="alert" ng-repeat="news in news">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Architecto corporis deleniti earum eos exercitationem ipsam molestias obcaecati placeat sint tempora!
          </div>


        </div>
        <div class="col-md-6">
          <h5>Mesajlar</h5>


          <span ng-if="!messages">
            Calisiyoruz bir hata ver.
          </span>

          <div class="media" ng-repeat="message in messages">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="150px"
                     ng-src="{{message.url}}"
                     alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{$index+1}}-{{message.title}}</h4>
              {{message.msg}}
            </div>
          </div>


        </div>


      </div>


    </div>
  </div>
</div>
