.css-form input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form.ng-submitted input.ng-pristine, select.ng-pristine {
  background-color: #FA787E;

}

.css-form input.ng-valid.ng-touched, select.ng-valid.ng-touched {
  background-color: #78FA89;
}
