

@mixin set-background-base-image($url, $repeat: no-repeat) {
  background-image: url("#{$vd-image-path}#{$url}");
  background-repeat: $repeat;
}

@mixin set-background-image-with-size($url, $repeat: no-repeat, $background-size: 100% 100%) {
  background-image: url("#{$vd-image-path}#{$url}");
  background-repeat: $repeat;
  background-size: $background-size;
}

@mixin set-background-image-with-position($url, $background-position, $repeat: no-repeat) {
  background-image: url("#{$vd-image-path}#{$url}");
  background-repeat: $repeat;
  background-position: $background-position;
}

@mixin set-background-image-with-position-and-size($url, $background-position, $background-size: 100% 100%, $repeat: no-repeat) {
  background-image: url("#{$vd-image-path}#{$url}");
  background-repeat: $repeat;
  background-size: $background-size;
  background-position: $background-position;
}
