@mixin padding-vertical($param, $param2: $param) {
  padding-top: $param;
  padding-bottom: $param2;
}

@mixin padding-horizontal($param, $param2: $param) {
  padding-left: $param;
  padding-right: $param2;
}

@mixin margin-vertical($param, $param2: $param) {
  margin-top: $param;
  margin-bottom: $param2;
}

@mixin margin-horizontal($param, $param2: $param) {
  margin-left: $param;
  margin-right: $param2;
}
