/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

select {
  width: 100%;
  height: 34px;

  &.sorting{
    width: 90px;
    float: left;
  }
}

.pagination-summary {
  float: left;
  display: inline-block;
}

.hurriyet-pagination {
  width: 100%;
  float: left;
  display: block;
}

.hurriyet-slider {
  @include padding-horizontal(10px);
}

.loading-spiner-holder {
  background-color: rgba(204, 204, 204, 0.13);
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;

  img {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    top: 100px;
  }
}

.sort-span{
  font-size: 14px;
}
.sort-input{
  margin-left: 25px;
}

.animate-repeat{
  @include no-select();
}

