//Custom Fonts
$vd-light: 'vodafone_ltregular', Arial, Helvetica;
$vd-regular: 'vodafone_rgregular', Arial, Helvetica;
$vd-bold: 'vodafone_rgbold', Arial, Helvetica;
$vd-old: Arial, Helvetica, sans-serif;
$helvetica-neu: 'Helvetica Neue', Arial, sans-serif;

//Colors
$vd-purple: #892988 !default;
$vd-red: #e60000 !default;
$vd-gray: #666666 !default;
$navigator-red: #f27f7f !default;
$light-gray: #a2a2a2 !default;
$ringtone-gray: #999999 !default;
$vd-green: #428600 !default;
$vd-video-gray: #afafaf !default;

//Media Query
$screen360: 359px !default;
$screen500: 499px !default;
$screen767: 767px !default;
$screen900: 899px !default;


