<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#" ui-sref="home">Anasayfa </a></li>
        <li><a href="#/portfolio">Portfolio</a></li>
        <li  class="active"><a  ui-sref="parent">ParentPage  <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="anasayfayaGit()" href="#">Çıkış</a></li>
      </ul>
      <span class="border-line"></span>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2>Parent Sayfasi Header</h2>

      <ul>
        <li><a href="#" ui-sref="parent.child1">Child1</a></li>
        <li><a href="#" ui-sref="parent.child2">Child2</a></li>
      </ul>

      <div ui-view style="background-color: #c0c0c0;   ">


      </div>

      <h2>Parent Sayfasi Footer</h2>


    </div>


  </div>
</div>
</div>
