<nav>
  <ul class="pagination hurriyet-pagination">
    <li ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12]"><a href="#/portfolio/{{$index+1}}">{{$index+1}}</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <span class="pagination-summary">Aramanızla ilgili {{resultcount}} sayfa sonuç listelendi</span>
</nav>
